.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    padding: 20px;
    width: 90%;
    max-width: 350px;
    border-radius: 20px;
    background-color: #232531;
}

.popup-inner .popup-cancel {
    float: right;
    color: #fff;
    width: fit-content;
    font-size: small;
    border-radius: 30px;
    padding: 5px 15px;
    border: 1px solid #575A6B;
    background-color: #575A6B;
}